body {
	width: 95%;
	margin: 0 auto;
	font-size: 90%;
}

.dataTables_wrapper {
	margin: 0 auto;
}

.data-table {
	border-collapse: collapse;
	margin: 10px;
	width: 95%;
	font-size: 80%;

}

.data-table th {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.data-table td {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
}

.data-table input[type=checkbox] {
	margin: 0;
}

.hidden {
	display: none;
}

.details {
	display: none;
}

.text-area {
	display: none;
}

.textarea-wrapper {
	border: 1px solid black;
	padding: 5px;
	display: inline-block;
}

textarea {
	border: 1px solid #ccc;	/* 枠線の色と太さを指定 */
	padding: 5px;	/* テキストエリア内部の余白を指定 */
}

.set_val {
	margin: 0px 1px 0px 15px;
	width: 3em;
}

.my-button1 {
	background-color: #4CAF50;	/* ボタンの背景色 */
	border: none;	/* ボタンの境界線を非表示にする */
	color: white;	/* ボタンのテキスト色 */
	padding: 12px 24px;	/* ボタンのパディング */
	text-align: center;	/* テキストを中央揃えにする */
	text-decoration: none;	/* テキストの下線を非表示にする */
	display: inline-block;	/* ボタンをインラインブロック要素にする */
	font-size: 16px;	/* フォントサイズ */
	margin: 10px;	/* ボタンのマージン */
	cursor: pointer;	/* カーソルをポインターに変更する */
	border-radius: 4px;	/* ボタンの角丸半径 */
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); 	/* ボタンの影 */
}

.selection-container {
	display: flex;
    align-items: center;
    gap: 20px;
	margin-bottom: 20px;
}

/* モーダルのスタイル */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 3%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	background-color: white;
	max-height: 88%;
	overflow-y: auto;
}

.modal-header .clear-button {
    margin-bottom: 20px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* チェックボックスリスト */
#charaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 列の間に均等なスペースを追加 */
}

#charaList label {
    width: 45%; /* 各ラベルの幅を調整（2列表示用） */
    margin-bottom: 10px; /* ラベル間のマージンを少し増やす */
}

.balloon {
	position: absolute;
	display: inline-block;
	padding: 6px 12px;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	border-radius: 6px;
	z-index: 999;
}

.balloon::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	border: 6px solid transparent;
	border-right-color: #333;
}

.tab {
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	justify-content: space-around;
	background-color: #f0f4f7;
	/* タブの背景色を設定 */
}

.tabLink {
	font-weight: bold;
	margin-right: 5px;
	cursor: pointer;
	color: #555;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-bottom: 3px;
}

.tabLink.active {
	color: #222;
	border-bottom: 2px solid #222;
	background-color: #eae8f3;	/* タブの背景色を設定 */
}

.active {
	background-color: #e9f3e8;	/* タブの背景色を設定 */
}

.tabContent {
	display: none;
}

.tabContent.active {
	display: block;
	min-width: 1500px;
	background-color: #e9f3e8;	/* タブの背景色を設定 */
}

.marginmid {
	width: 95%;
	min-width: 1500px;
	margin: 0 auto;
	padding-top: 10px;
}

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

p {
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.settings {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ボタンのスタイル */
.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #555;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

/* ボタンを表示する条件 */
@media only screen and (max-width: 768px) {

	/* スマートフォン用 */
	.scroll-to-top {
		bottom: 10px;
		right: 10px;
	}
}

.have_val {
	display: inline-block;
	width: 3em;
	max-width: 100%;
	border: 1px solid #999;
	box-sizing: border-box;
	background: #ffffff;
}

.horizontalContainer {
    display: flex;
    justify-content: flex-start; /* 左寄せにする */
    align-items: flex-start; /* 上下の位置を揃える */
}

#selectedRows,
#statsDetail,
#themeDetail {
    margin-right: 10px; /* 間隔を確保するためのマージン */
    width: auto; /* 必要に応じて幅を自動調整 */
}

.heartslabyul {
    background-color: #dc143c; /* ハーツラビュル */
	color: rgba(241, 241, 241, 0.884);
}

.savanaclaw {
    background-color: #ffa500; /* サバナクロー */
}

.octavinelle {
    background-color: #9999ff; /* オクタヴィネル */
}

.scarabia {
    background-color: #800000; /* スカラビア */
	color: rgba(241, 241, 241, 0.884);
}

.pomefiore {
    background-color: #483d8b; /* ポムフィオーレ */
	color: rgba(241, 241, 241, 0.884);
}

.ignihydes {
    background-color: #00bfff; /* イグニハイド */
}

.diasomnia {
    background-color: #006400; /* ディアソムニア */
	color: rgba(241, 241, 241, 0.884);
}

.nightRavenCollege {
    background-color: #eef5ff; /* ナイトレイブンカレッジ */
}
/* DataTablesの検索ウィンドウを非表示にする */
.dataTables_filter {
    display: none;
}
